{% extends "base/base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block logo %}
{% for about in about %}
<img src="{{about.logo.url}}" alt="">
{% endfor %}
{% endblock logo %}
{% block body %}
<!-- ======= Hero Section ======= -->
{% if hero|length == 1 %}
{% for hero in hero %}
<div id="hero" class="hero route bg-image" style="background-image: url({{hero.Cover.url}})">
  <div class="overlay-itro"></div>
  <div class="hero-content display-table">
    <div class="table-cell">
      <div class="container">
        <h1 class="hero-title mb-4"> {{hero.heading}} </h1>
        <p class="hero-subtitle"> i'm a <span class="typed"
            data-typed-items="{{hero.t1}},{{hero.t2}},{{hero.t3}},{{hero.t4}}"></span>
        </p>
        <a href="{{hero.cv.url}}" class="btn btn-outline-primary cv_ mt-4 "><i class="fa-solid fa-download"></i>
          DOWNLOAD CV</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- End Hero Section -->
{% else %}
<div class="contaier">
  <p class="text-center mt-5 hero_alert">Please Add Hero Section</p>
</div>
{% endif %}
<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about-mf sect-pt4 route">
    {% for about in about %}
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="{{about.photo.url}}" class="img-fluid rounded b-shadow-a" alt="profile_pic">
                    </div>

                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span> {{about.name}} </span></p>
                      <p><span class="title-s">Profile: </span> <span> {{about.profile}} </span></p>
                      <p><span class="title-s">Email: </span> <span>{{about.email}}</span></p>
                      <p><span class="title-s">Phone: </span> <span>{{about.phone}}</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  {% for skill in skill %}
                  <span> {{skill.skill}} </span> <span class="pull-right">{{skill.percentage}}%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{skill.percentage}}%;"
                      aria-valuenow="{{skill.percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                  {% endfor %}
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">{{about.about_me}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </section><!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services-mf pt-5 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Services
            </h3>
            <p class="subtitle-a">
              {% for subtitle in services %}
              {{subtitle.description}}
              {% endfor %}
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        {% for services_list in services_list %}
        <div class="col-md-4 card_">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="{{services_list.icon}}"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">{{services_list.title}}</h2>
              <p class="s-description text-center">
                {{services_list.description}}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section><!-- End Services Section -->
  <!-- ======= Counter Section ======= -->
  {% for counter in count %}
  <div class="section-counter paralax-mf bg-image"
    style="background-image: url({% static 'assets/img/overlay-bg.jpg' %})">
    <div class="overlay-mf"></div>
    <div class="container position-relative">
      <div class="row">
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="bi bi-check"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">{{counter.work}}</p>
              <span class="counter-text">WORKS COMPLETED</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="bi bi-journal-richtext"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">{{counter.experience}}</p>
              <span class="counter-text">YEARS OF EXPERIENCE</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="bi bi-people"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">{{counter.total_client}}</p>
              <span class="counter-text">TOTAL CLIENTS</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="bi bi-award"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">{{counter.award_won}}</p>
              <span class="counter-text">AWARD WON</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Counter Section -->

  {% endfor %}


  <!-- ======= Portfolio Section ======= -->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Portfolio
            </h3>
            {% for subtitle in portfolio %}
              <p class="subtitle-a">
                {{subtitle.description}}
              </p>
            {% endfor %}
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          {% for item in portfolio_list %}
          <div class="col-md-4">
            <div class="work-box">
              <a href="{{item.Picture.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="{{item.Picture.url}}" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">{{item.title}}</h2>
                    <div class="w-more">
                      <span class="w-ctegory">{{item.category}}</span> / <span class="w-date">{{item.date}}</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="{% url 'portfolio_single_page' item.slug %}"> <span class="bi bi-plus-circle"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Testimonials Section ======= -->
  <div class="testimonials paralax-mf bg-image" style="background-image: url({% static 'assets/img/overlay-bg.jpg' %})">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

              <!-- End testimonial item -->
              {% for testimonial in testimonial %}
              <div class="swiper-slide">
                <div class="testimonial-box">
                  <div class="author-test">
                    <img src="{{testimonial.photo.url}}" alt="Testimonials" class="rounded-circle b-shadow-a">
                    <span class="author">{{testimonial.author}}</span>
                  </div>
                  <div class="content-test">
                    <p class="description lead">
                      {{testimonial.description}}
                    </p>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Testimonials Section -->

  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog-mf sect-pt4 route">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Blog
            </h3>
            {% for subtitle in blog %}
            <p class="subtitle-a">
              {{subtitle.description}}
            </p>
            {% endfor %}
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        {% for item in blog_list %}
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="blog-single.html"><img src="{{item.Picture.url}}" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">{{item.category}}</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="{% url 'blog_single_page' item.slug %}">{{item.title}}</a></h3>
              <p class="card-description">
                {% comment %} {{item.description}} {% endcomment %}
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  <span>Author:</span>
                  <span class="author">{{item.author}}</span>
                </a>
              </div>
              <div class="post-date">
                <span class="bi bi-clock"></span> {{item.date}}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section><!-- End Blog Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route"
    style="background-image: url(assets/img/overlay-bg.jpg)">

    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Send Message Us
                    </h5>
                  </div>
                  <div>
                    <form action="" method="post" role="form" class="php-email-form">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                              required>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                              required>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                              required>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message"
                              required></textarea>
                          </div>
                        </div>
                        <div class="col-md-12 text-center my-3">
                          <div class="loading">Loading</div>
                          <div class="error-message"></div>
                          <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="col-md-12 text-center">
                          <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                {% for contact in about %}
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Get in Touch
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                    <p><span class="title-s">Name: </span> <span> {{contact.name}} </span></p>
                    <p><span class="title-s">Profile: </span> <span> {{contact.profile}} </span></p>
                    <p><span class="title-s">Email: </span> <span>{{contact.email}}</span></p>
                    <p><span class="title-s">Phone: </span> <span>{{contact.phone}}</span></p>
                    </p>
                    <ul class="list-ico">
                      <li><span class="bi bi-geo-alt"></span> {{contact.location}}</li>
                      <li><span class="bi bi-phone"></span> {{contact.phone}}</li>
                      <li><span class="bi bi-envelope"></span> {{contact.email}} </li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href="{{contact.facebook}}"><span class="ico-circle"><i
                              class="bi bi-facebook"></i></span></a></li>
                      <li><a href="{{contact.instagram}}"><span class="ico-circle"><i
                              class="bi bi-instagram"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="bi bi-twitter"></i></span></a></li>
                      <li><a href="{{contact.linkedin}}"><span class="ico-circle"><i
                              class="bi bi-linkedin"></i></span></a></li>
                    </ul>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->
{% endblock body %}
{% block copyright_name %}
{% for about in about %}
{{about.name}}
{% endfor %}
{% endblock copyright_name %}